* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", serif;
    font-style: normal;
    font-weight: 400;
}

.container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

div {
    border: 1px solid black;
}

img {
    max-width: 100%;
    height: auto;
}

.first {
    grid-column: 1 / 2;
    background-color: hsl(31, 66%, 93%);
    padding: 20px;
    height: 1000px;
}

.first span {
    color: hsl(256, 67%, 59%);
}

.second {
    grid-column: 2 / 4;
    background-color: hsl(256, 67%, 59%);
}

.third {
    grid-column: 4 / 5;
    background-color: hsl(254, 88%, 90%);
}

.fourth {
    grid-column: 1 / 2;
    background-color: hsl(39, 100%, 71%);
}

.fifth {
    grid-column: 2 / 3;
}

.sitxh {
    grid-column: 3 / 4;
}

.seventh {
    grid-column: 2 / 4;
}

.eighth {
    grid-column: 3 / 5;
    background-color: hsl(256, 67%, 59%);
}
